body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding: 3px;
    margin:0;
    background-color: black;
}
.bgphoto{
    width:100%;
    height:800px;
}
.imagecontainer{
    position: relative;
}
.content{
  
    color: white;
    position: absolute;
    inset:0;
}
.hero{
    display:flex;
    justify-content: center;
    align-items: center;
}