body{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    width:100%;
    height:100%;
    background-color:#FC8EAC;
    display:flex;
    justify-content:center;
    align-items: center;
}
.signupdiv{
    margin: 10px;
    padding: 20px;
    border: solid black;
    border-width: 2px;
    border-radius: 15px;
    
}
.signuptitle{
    display:flex;
    justify-content: center;
    margin: 0%;
}
.titlediv{
    display:flex;
    justify-content: center;
    align-items:center;
}
button{
    margin-top: 10px;
    font-size: large;
    background-color: black;
    color:white;
    border: solid transparent 2px;
    border-radius: 3px;
}
.buttonclass{
    display:flex;
    justify-content: center;
}
input, select{
    size: 0cqw;
    background-color: transparent;
    border: solid black 1.5px;
    margin-bottom: 12px;
}